div{
height:500px;
width:300px;
float:left;
padding:50px opx 10px 150px;
}
img{
height:500;
width:300px;
position:absolute;
-webkit-transition:opacity 2s ease-in-out;
-ms-transition:opacity 2s ease-in-out;
transition:opacity 2s ease-in-out;
}
img.top:hover{
opacity:0;
}















/*
div{
float:left;
position:relative; 
}
.c1{
width:100px;
height:100px;
-webkit-transition:width 2s linear, height 2s linear;
-ms-transition:width 2s linear, height 2s linear;
transition:width 2s linear, height 2s linear;
}
. c1:hover{
box-shadow:2px 2px 2px 2px #5D627E;
border-radius:50px;
width:200px;
height:200px;
}
*/